<!DOCTYPE html>
<html>
<head>
    <title>Christophil.us</title>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    @RenderBody()
</body>
</html>