<div id="header">
  <h1>Christophil.us</h1>
</div>

<pre>
This is not a blog.
This is not social.

This is your personal journal.

<a href="@Url.RouteUrl("Authentication.Login")">Start Journaling</a>
</pre>
