* 
{
    margin: 0; border: 0; padding: 0; outline: 0; font-size: 1em;
    text-decoration: none; list-style-type: none; font-weight: normal;
}

/* 
    Font Imports 
*/
@font-face {
	font-family: 'Inconsolata';
	src: url('content/Inconsolata.eot');
}
        
@font-face 
{
    font-family: 'InconsolataNonIE';
    src: local('Inconsolata'), 
        url('content/Inconsolata.otf');
}

/*
    Colors
*/
@bg: #F9F9F9;
@fore: #222;

/*
    Element Defaults
*/
body
{
    background: @bg;
    color: @fore;
    font: 1em 'Inconsolata', 'InconsolataNonIE', 'Courier New', 'Sans-Serif';
}

h1
{
    font-size: 1.5em;
    margin-bottom: .5em;
}

h2
{
    margin-bottom: 1em;
}

a
{
    &:visited { color: lightness(@fore, 35%); }
    &:hover { color: lightness(@fore, -30%); }
    color: @fore;
}

pre
{
    white-space: pre-wrap;
    -moz-tab-size: 4;
}
/* 
    Standard ids
*/
#page-wrapper
{
    padding: .25in 1in 1in;
    width: 7.5in;
    margin: auto;
}

#header h1:before
{
    content: url(img/logo.png);
}

ul.entries{
    li.month
    {
        font-size: 1.3em;
    }
    li
    {
        position: relative;
        margin-bottom: 1em;
    }
    span.day
    {
        display: inline-block;
        min-width: 50px;
    }
    span.summary
    {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        max-width: 650px;
        overflow: hidden;
    }
    span.summary:before
    {
        content: "| ";
    }
    li:after
    {
        content: " ";
        background: url(img/text-fade.png) repeat-y right top;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100px;
        height: 1em;
    }
}

ul.pages
{
    margin-top: 2em;
    li
    {
        color: lightness(@fore, 30%);
        display: inline-block;
    }
    
    li.selected a
    {
        color: @fore;
        border-bottom: solid 1px @fore;
    }
}