<!DOCTYPE html>
<html>
<head>
    <title>Christophil.us</title>
    <link href="@Url.Content("~/Content/site.less")" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="page-wrapper">
    @RenderBody()
  </div>
</body>
</html>